html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #d8d2d1;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

iframe {
  border: none;
}